<div class="spammaster_fw_main">

	<div class="spammaster_fw_page">

		<div class="spammaster_fw_logo">
			<h1>SPAM MASTER FIREWALL</h1>
		</div>

		<div class="spammaster_fw_content">
			<h2><em>Confucius</em></h2>
			<p><em>"life is sweet as an orange"</em></p>
		</div>

		<div class="spammaster_fw_footer">
			<p>Powered by <a href="https://spammaster.techgasp.com">Spam Master</a></p>
		</div>

	</div>
</div>



